

<img src="NYC_OpenData_Logo.png">

## Data
As mentioned above, this data is from [NYC Open Data](https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e) and represents NYC employees’ salary and overtime pay data.  The following is from the data dictionary that has also been included in the download files for your reference:

```
Data is collected because of public interest in how the City’s budget is being spent on salary and overtime pay for all municipal employees. Data is input into the City's Personnel Management System (“PMS”) by the respective user Agencies. Each record represents the following statistics for every city employee: Agency, Last Name, First Name, Middle Initial, Agency Start Date, Work Location Borough, Job Title Description, Leave Status as of the close of the FY (June 30th), Base Salary, Pay Basis, Regular Hours Paid, Regular Gross Paid, Overtime Hours worked, Total Overtime Paid, and Total Other Compensation (i.e. lump sum and/or retro payments). This data can be used to analyze how the City's financial resources are allocated and how much of the City's budget is being devoted to overtime. The reader of this data should be aware that increments of salary increases received over the course of any one fiscal year will not be reflected. All that is captured, is the employee's final base and gross salary at the end of the fiscal year.

NOTE: As a part of FISA-OPA’s routine process for reviewing and releasing Citywide Payroll Data, data for some agencies (specifically NYC Police Department (NYPD) and the District Attorneys’ Offices (Manhattan, Kings, Queens, Richmond, Bronx, and Special Narcotics)) have been redacted since they are exempt from disclosure pursuant to the Freedom of Information Law, POL § 87(2)(f), on the ground that disclosure of the information could endanger the life and safety of the public servants listed thereon. They are further exempt from disclosure pursuant to POL § 87(2)(e)(iii), on the ground that any release of the information would identify confidential sources or disclose confidential information relating to a criminal investigation, and POL § 87(2)(e)(iv), on the ground that disclosure would reveal non-routine criminal investigative techniques or procedures.
``

In [1]:
import pandas as pd
import numpy as np

In [2]:
nyc_full = pd.read_csv('NYC_Payroll_Data.csv', dtype={'Fiscal Year': 'int', 'Payroll Number': 'float', 'Agency Name': 'str',
                                                            'Last Name': 'str','First Name': 'str','Mid Init': 'str',
                                                            'Agency Start Date': 'str','Work Location Borough': 'str','Title Description': 'str',
                                                            'Leave Status as of June 30': 'str','Base Salary': 'float','Pay Basis': 'str',
                                                            'Regular Hours': 'float', 'Regular Gross Paid': 'float', 'OT Hours': 'float',
                                                            'Total OT Paid': 'float', 'Total Other Pay': 'float'})

In [3]:
nyc = nyc_full.copy()

In [4]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4496767 entries, 0 to 4496766
Data columns (total 17 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Fiscal Year                 int64
 1   Payroll Number              float64
 2   Agency Name                 object
 3   Last Name                   object
 4   First Name                  object
 5   Mid Init                    object
 6   Agency Start Date           object
 7   Work Location Borough       object
 8   Title Description           object
 9   Leave Status as of June 30  object
 10  Base Salary                 float64
 11  Pay Basis                   object
 12  Regular Hours               float64
 13  Regular Gross Paid          float64
 14  OT Hours                    float64
 15  Total OT Paid               float64
 16  Total Other Pay             float64
dtypes: float64(7), int64(1), object(9)
memory usage: 583.2+ MB

In [5]:
nyc.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,BEREZIN,MIKHAIL,NaN,08/10/2015,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
1,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,GEAGER,VERONICA,M,09/12/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
2,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,RAMANI,SHRADDHA,NaN,02/22/2016,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
3,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,ROTTA,JONATHAN,D,09/16/2013,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0
4,2020,17.0,OFFICE OF EMERGENCY MANAGEMENT,WILSON II,ROBERT,P,04/30/2018,BROOKLYN,EMERGENCY PREPAREDNESS MANAGER,ACTIVE,86005.0,per Annum,1820.0,84698.21,0.0,0.0,0.0

In [6]:
def upper_case(df):
    '''
    Takes as input the `nyc` DataFrame. 
    Then capitlizes each character in columns with "object" data type.
    '''
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].str.upper()

upper_case(nyc)

In [7]:
Q1 = len(nyc)
Q1

4496767

In [8]:
nyc_2021 = nyc[nyc['Fiscal Year'] == 2021].copy()

In [18]:
Q2 = len(nyc_2021['First Name'])
Q2

573477

In [10]:
nyc_2021.loc[3923291]

Fiscal Year                                    2021
Payroll Number                                996.0
Agency Name                   NYC HOUSING AUTHORITY
Last Name                                      RUSS
First Name                                  GREGORY
Mid Init                                          P
Agency Start Date                        08/12/2019
Work Location Borough                     MANHATTAN
Title Description                             CHAIR
Leave Status as of June 30                   ACTIVE
Base Salary                                414707.0
Pay Basis                                 PER ANNUM
Regular Hours                                1820.0
Regular Gross Paid                        413518.05
OT Hours                                        0.0
Total OT Paid                                   0.0
Total Other Pay                               500.0
Name: 3923291, dtype: object

In [19]:
Q4 = nyc_2021.nlargest(5, 'Regular Gross Paid')
Q4

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Gross Paid
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.0,PER ANNUM,1820.0,413518.05,0.0,0.00,500.00,414018.05
3923299,2021,15.0,OFFICE OF THE COMPTROLLER,DONE,ALEXIS,NaN,03/12/2012,MANHATTAN,PENSION INVESTMENT ADVISOR,ACTIVE,350000.0,PER ANNUM,1820.0,349014.96,0.0,0.00,0.00,349014.96
3923304,2021,67.0,ADMIN FOR CHILDREN'S SVCS,OKORO,EDWARD,NaN,06/23/1996,MANHATTAN,CHILD PROTECTIVE SPECIALIST,ON SEPARATION LEAVE,60351.0,PER ANNUM,1820.0,332518.52,4.0,661.91,-440.49,332739.94
3923321,2021,8.0,OFFICE OF THE ACTUARY,CHAN,SHERRY,S,05/18/2015,MANHATTAN,CHIEF ACTUARY,ACTIVE,311885.0,PER ANNUM,1820.0,311007.12,0.0,0.00,-5974.80,305032.32
3923329,2021,15.0,OFFICE OF THE COMPTROLLER,HADDAD,MICHAEL,D,01/11/2016,MANHATTAN,DIRECTOR OF INVESTMENTS,ACTIVE,300000.0,PER ANNUM,1820.0,299155.64,0.0,0.00,0.00,299155.64

In [12]:
employee_ot = nyc_2021.groupby('First Name')['OT Hours'].max()
Q5 = employee_ot.sort_values(ascending=False)
Q5

First Name
ALEXANDER     2887.00
RAYMOND       2872.00
DEMETRIA      2809.50
WILLIAM       2719.75
MICHAEL       2716.92
               ...
OLDOPHE        -11.83
ELVESTER       -18.00
WRICKFORD      -22.75
RENEEMARIA     -24.00
SEONGCHEOL     -81.75
Name: OT Hours, Length: 59968, dtype: float64

In [13]:
nyc_2021['Total Gross Paid'] = nyc_2021['Regular Gross Paid'] + nyc_2021['Total OT Paid'] + nyc_2021['Total Other Pay']

nyc_2021.nlargest(10, 'Total Gross Paid')

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Gross Paid
3923290,2021,996.0,NYC HOUSING AUTHORITY,MUSTACIUOLO,VITO,J,02/26/2018,MANHATTAN,EXECUTIVE DIRECTOR,ACTIVE,258000.00,PER ANNUM,1820.0,257260.30,0.00,0.00,258000.00,515260.30
3923291,2021,996.0,NYC HOUSING AUTHORITY,RUSS,GREGORY,P,08/12/2019,MANHATTAN,CHAIR,ACTIVE,414707.00,PER ANNUM,1820.0,413518.05,0.00,0.00,500.00,414018.05
3923292,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,MCGROARTY,MICHAEL,NaN,10/06/2014,QUEENS,STATIONARY ENGINEER,ACTIVE,508.80,PER DAY,2080.0,132288.00,2374.75,238829.13,40105.00,411222.13
3923293,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,HALLAHAN,PATRICK,M,02/26/2018,BROOKLYN,STATIONARY ENGINEER,ACTIVE,508.80,PER DAY,2080.0,132288.00,2115.25,218628.18,56616.07,407532.25
3923294,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,PETTIT,PATRICK,J,08/02/2010,MANHATTAN,STATIONARY ENGINEER,ACTIVE,508.80,PER DAY,2080.0,132288.00,2152.75,218694.96,38611.82,389594.78
3923295,2021,816.0,DEPT OF HEALTH/MENTAL HYGIENE,TELEHANY,STEPHEN,M,01/16/2007,QUEENS,STATIONARY ENGINEER,ACTIVE,508.80,PER DAY,2080.0,132288.00,1876.25,192296.19,51160.20,375744.39
3923296,2021,462.0,GUTTMAN COMMUNITY COLLEGE,EVENBECK,SCOTT,E,04/17/2011,MANHATTAN,PRESIDENT,CEASED,228000.00,PER ANNUM,980.0,122427.81,0.00,0.00,244495.20,366923.01
3923297,2021,56.0,POLICE DEPARTMENT,NaN,NaN,NaN,07/16/1984,MANHATTAN,CAPTAIN DETAILED AS CHIEF OF TRAINING,CEASED,241116.00,PER ANNUM,400.0,46222.47,0.00,0.00,312126.91,358349.38
3923298,2021,996.0,NYC HOUSING AUTHORITY,PROCIDA,ROBERT,NaN,04/13/1987,BRONX,SUPERVISOR PLUMBER,ACTIVE,387.03,PER DAY,1820.0,100627.80,2249.50,248749.72,7215.34,356592.86
3923299,2021,15.0,OFFICE OF THE COMPTROLLER,DONE,ALEXIS,NaN,03/12/2012,MANHATTAN,PENSION INVESTMENT ADVISOR,ACTIVE,350000.00,PER ANNUM,1820.0,349014.96,0.00,0.00,0.00,349014.96

In [14]:
median = nyc_2021['Total Gross Paid'].median()
median

43359.15

In [15]:
avg = nyc_2021['Total Gross Paid'].mean()
avg

52017.993508580126

In [16]:
nyc_2021['Agency Name'].nunique()

156

In [20]:
median_total_gross_pay = nyc_2021.groupby('Agency Name')['Regular Gross Paid'].median()

Q9A = median_total_gross_pay.idxmax()
Q9A

'OFFICE OF COLLECTIVE BARGAININ'

In [21]:
Q9B = median_total_gross_pay.idxmin()
Q9B

'DEPARTMENT OF JUVENILE JUSTICE'

In [ ]:
nyc_2021[nyc_2021['Title Description'] == 'MAYOR']

In [ ]:
mayors_office = nyc_2021[nyc_2021['Agency Name'] == "OFFICE OF THE MAYOR"]
mayors_office['Total Gross Paid']
mayors_office.loc[3923357]

In [22]:
Q11 = nyc_2021.groupby('Work Location Borough')['Base Salary'].mean()
Q11

Work Location Borough
ALBANY            91296.344000
BRONX             55290.460386
BROOKLYN          59288.815687
DELAWARE          65365.190366
DUTCHESS          60963.991379
GREENE            72366.213333
MANHATTAN         43044.492124
NASSAU            29930.476500
ORANGE            57403.000000
OTHER            120124.578298
PUTNAM            63959.932895
QUEENS            58846.691720
RICHMOND          58241.712893
SCHOHARIE         70127.428571
SULLIVAN          72212.089297
ULSTER            79805.588939
WASHINGTON DC    133559.666667
WESTCHESTER       68429.795154
Name: Base Salary, dtype: float64

In [23]:
average_base_salary_per_location = nyc_2021.groupby('Work Location Borough')['Base Salary'].mean()
location_highest_average_salary = average_base_salary_per_location.idxmax()
Q12 = nyc_2021.loc[nyc_2021['Work Location Borough'] == location_highest_average_salary, 'Base Salary']
Q12
nyc.iloc[3932324]

Fiscal Year                                       2021
Payroll Number                                     2.0
Agency Name                        OFFICE OF THE MAYOR
Last Name                              KAGAN STERNHELL
First Name                                     REBECCA
Mid Init                                             K
Agency Start Date                           10/01/2019
Work Location Borough                    WASHINGTON DC
Title Description             EXECUTIVE AGENCY COUNSEL
Leave Status as of June 30                      ACTIVE
Base Salary                                   178190.0
Pay Basis                                    PER ANNUM
Regular Hours                                   1820.0
Regular Gross Paid                           177688.35
OT Hours                                           0.0
Total OT Paid                                      0.0
Total Other Pay                                -3258.9
Name: 3932324, dtype: object

In [24]:
grouped_data = nyc_2021.groupby(['Work Location Borough', 'Agency Name'])['Base Salary'].median()

Q13 = grouped_data.nlargest(5)
Q13

Work Location Borough  Agency Name
WASHINGTON DC          DEPT OF INFO TECH & TELECOMM     177904.0
BRONX                  DEPT OF INFO TECH & TELECOMM     147213.0
                       COMMUNITY COLLEGE (LAGUARDIA)    147000.0
WASHINGTON DC          LAW DEPARTMENT                   142057.0
ALBANY                 OFFICE OF THE MAYOR              130000.0
Name: Base Salary, dtype: float64

In [25]:
nyc_2021['Fiscal Year'] = pd.to_datetime(nyc_2021['Fiscal Year'], format='%Y')

Q14 = nyc_2021.groupby('Fiscal Year')['Total Gross Paid'].sum()
Q14

Fiscal Year
2021-01-01    2.983112e+10
Name: Total Gross Paid, dtype: float64

In [26]:
nyc_2021['Fiscal Year'] = pd.to_datetime(nyc_2021['Fiscal Year'], format='%Y')

Q15 = nyc_2021.groupby('Fiscal Year')['Payroll Number'].nunique()
Q15

Fiscal Year
2021-01-01    156
Name: Payroll Number, dtype: int64

In [27]:
Q17 = pd.pivot_table(
    nyc_2021,
    values='Total Gross Paid',
    index='Agency Name',
    columns='Pay Basis',
    aggfunc='median',
    margins=True,
    margins_name='Total Median'
)
Q17

Pay Basis,PER ANNUM,PER DAY,PER HOUR,PRORATED ANNUAL,Total Median
Agency Name,,,,,
ADMIN FOR CHILDREN'S SVCS,65606.510,102861.90,29401.265,NaN,65585.300
ADMIN TRIALS AND HEARINGS,62942.665,75400.00,31752.580,NaN,45436.065
BOARD OF CORRECTION,70304.080,NaN,NaN,NaN,70304.080
BOARD OF ELECTION,65580.730,NaN,27731.880,NaN,57010.970
BOARD OF ELECTION POLL WORKERS,NaN,NaN,350.000,NaN,350.000
...,...,...,...,...,...
STATEN ISLAND COMMUNITY BD #3,66343.060,NaN,NaN,NaN,66343.060
TAX COMMISSION,110723.460,NaN,13322.340,25604.70,83971.025
TAXI & LIMOUSINE COMMISSION,58449.400,66931.63,42958.870,NaN,57260.310
TEACHERS RETIREMENT SYSTEM,80842.830,NaN,5204.180,NaN,73537.980
Total Median,75844.620,1056.57,1112.755,35960.62,43359.150

In [28]:
Q17.loc['NYC HOUSING AUTHORITY']

Pay Basis
PER ANNUM          51561.72
PER DAY            90462.45
PER HOUR                NaN
PRORATED ANNUAL     4814.86
Total Median       58392.54
Name: NYC HOUSING AUTHORITY, dtype: float64

In [29]:
pivot_table_median_total_gross_pay = pd.pivot_table(
    nyc_2021,
    values='Total Gross Paid',
    index='Title Description',
    aggfunc='median'
)

sorted_pivot_table = pivot_table_median_total_gross_pay.sort_values(by='Total Gross Paid', ascending=False)

Q18 = sorted_pivot_table.head(10)
Q18

                                              Total Gross Paid
Title Description
PENSION INVESTMENT ADVISOR                          349014.960
CHAIR                                               326110.630
CHIEF ACTUARY                                       305032.320
CAPTAIN DETAILED AS CHIEF OF TRAINING               297703.365
FIRST DEPUTY MAYOR                                  284742.280
PRESIDENT                                           275457.880
DIRECTOR OF  INVESTMENTS                            264254.050
CAPTAIN DETAILED AS CHIEF OF RISK MANAGEMENT        254051.460
MAYOR                                               253064.890
CHANCELLOR                                          251872.840

In [30]:
total_overtime_hours_per_agency = nyc_2021.groupby('Agency Name')['OT Hours'].sum()

sorted_agencies = total_overtime_hours_per_agency.sort_values(ascending=False)

Q19 = sorted_agencies.head(10)
Q19

Agency Name
POLICE DEPARTMENT                 10815884.93
FIRE DEPARTMENT                    8220712.59
DEPARTMENT OF SANITATION           4206474.56
DEPARTMENT OF CORRECTION           3323294.05
NYC HOUSING AUTHORITY              2686245.50
HRA/DEPT OF SOCIAL SERVICES        1276660.51
DEPARTMENT OF TRANSPORTATION       1074099.24
DEPT OF HEALTH/MENTAL HYGIENE       867652.73
DEPT OF ENVIRONMENT PROTECTION      679410.40
ADMIN FOR CHILDREN'S SVCS           539092.21
Name: OT Hours, dtype: float64

In [31]:
Q20 = nyc_2021.groupby('Agency Name').agg({
    'Base Salary': 'mean',
    'Total OT Paid': 'median',
    'Total Gross Paid': 'std'
})
Q20

                                 Base Salary  Total OT Paid  Total Gross Paid
Agency Name
ADMIN FOR CHILDREN'S SVCS       68928.295008          21.95      32124.442208
ADMIN TRIALS AND HEARINGS       42774.316154           0.00      38677.473864
BOARD OF CORRECTION             94507.127586           0.00      41924.536647
BOARD OF ELECTION               41241.893459       13800.16      40142.716389
BOARD OF ELECTION POLL WORKERS      1.009790           0.00       2131.199265
...                                      ...            ...               ...
STATEN ISLAND COMMUNITY BD #2   54442.350000           0.00      60292.117307
STATEN ISLAND COMMUNITY BD #3   76387.000000           0.00      23567.010355
TAX COMMISSION                  88848.096129           0.00      51740.416321
TAXI & LIMOUSINE COMMISSION     59062.593797           0.08      30097.186297
TEACHERS RETIREMENT SYSTEM      80132.776992           0.00      48630.019747

[156 rows x 3 columns]